* {
  margin: 0.1%;
  padding: 0.6%;
  box-sizing: border-box;
}
.timerBtn {
  margin-bottom: 0.5vh;
  width: 20vw;
  height: 4vh;
  border: 3px solid color;
  border-radius: 35%;
  background-color: #333333;
  color: whitesmoke;
  cursor: pointer;
  font-family: monospace;
}
#timeDisplay {
  font-size: 8vh;
  color: green;
  font-family: monospace;
}
#timeContainer {
  text-align: center;
  border: 3px solid black;
  border-radius: 30%;
  background-color: #333333;
}
.table-notes {
  width: auto;
  height: auto;
  display: grid;
  gap: 0.2% 0.2%;
  background-color: #333333;
  color: antiquewhite;
  text-align: center;
  cursor: pointer;
}
